main {
    position: relative;
width: 1440px;
height: 1870px;

background: #FFFFFF;
}

.logo {
    position: fixed;
width: 144px;
height: 79px;
left: 40px;
top: 40px;

font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 45px;

color: #FFFFFF;

mix-blend-mode: difference;
}

.star {
    position: absolute;
    width: 812px;
    height: 377px;
    left: 334px;
    top: 185px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 181px;
    
    color: #00FF0A;
    

}

.floral {
    position: absolute;
    width: 812px;
    height: 377px;
    left: 400px;
    top: 185px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 181px;
    
    color: #FFFFFF;
}

.stylists {
    position: absolute;
width: 812px;
height: 377px;
left: 468px;
top: 312px;

font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 181px;

color: #FFFFFF;


}
.subheader {

position: absolute;
width: 269px;
height: 90px;
left: 360px;
top: 510px;

font-family: 'Source Sans Pro', sans-serif;
font-style: italic;
font-weight: bold;
font-size: 18px;
line-height: 23px;

color: #00FF0A;

}
.nav{
    float: right;
width: 115px;
height: 356px;
left: 500px;
top: 104px;

}
.editorial {
    position: absolute;
    float: right;
    width: 120px;
    height: 45px;
    left: 1350px;
    top: 169px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    
    color: #FFFFFF;
    
    mix-blend-mode: difference;
}

.events {
    position: fixed;
    width: 120px;
    height: 45px;
    left: 1350px;
    top: 87px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    
    color: #FFFFFF;
    
    mix-blend-mode: difference;
}
.about {
    position: fixed;
    width: 120px;
    height: 45px;
    left: 1350px;
    top: 251px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    
    color: #FFFFFF;
    
    mix-blend-mode: difference;
}
.contact{
    position: fixed;
    width: 120px;
    height: 45px;
    left: 1350px;
    top: 333px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    
    color: #FFFFFF;
    
    mix-blend-mode: difference;
}
.home{
    position: fixed;
    width: 120px;
    height: 45px;
    left: 1355px;
    top: 415px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    
    color: #FFFFFF;
    
    mix-blend-mode: difference;
}
.wedo1 {
    position: absolute;
width: 308px;
height: 227px;
left: 532px;
top: 1254px;

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 91px;

color: #0038FF;

}
.wedo2 {
    position: absolute;
width: 308px;
height: 227px;
left: 532px;
top: 1453px;

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 91px;

color: #0038FF;

}